@import 'variables.scss';


.header {
  height: 12vh;
  background-color: $background ;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.548);
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  .nav {
    display: flex;
    justify-content: space-between;
    img {
      width: 30px;
    }
   
  }
  @media (max-width: 768px) {
    justify-content: center;
  }

}